
*.csv

*.pkl

*.pyc

Pipfile

*.lock

.vscode/settings.json

.cache-aymanzay

sparklib.py

*.xml

*.iml

*.model

*.npy

graphs/2d_graph_800nodes.png

graphs/2d_graph_1572nodes.png

*.db

graph_tool/*
